@charset "UTF-8";

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2"), url("../fonts/Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 354.98px;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 300;
}

body._lock {
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 100px 0;
}

.section-page {
  padding: 30px 20px 60px;
}

.h1 {
  font-weight: 300;
  font-size: 46px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
}

.h2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #252525;
}

.h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #252525;
}

.h4 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}

.page-content {
  margin-top: 30px;
}

.text {
  font-weight: 300;
  font-size: 16px;
  color: #252525;
}

.price {
  margin: 5px 0;
  font-weight: 700;
  font-size: 16px;
  color: #252525;
}

.descr {
  font-weight: 200;
  font-size: 14px;
  color: #252525;
}

.navlink {
  font-weight: 300;
  font-size: 18px;
  color: #252525;
  text-transform: uppercase;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.navlink:hover {
  color: #E0BEA2;
}

.label {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.btn {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #E0BEA2;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.btn:hover {
  -webkit-box-shadow: 0 5px 7px rgba(37, 37, 37, 0.15);
  box-shadow: 0 5px 7px rgba(37, 37, 37, 0.15);
}

.btn:active {
  background-color: #CCA88A;
  -webkit-box-shadow: inset 0 5px 7px rgba(37, 37, 37, 0.15);
  box-shadow: inset 0 5px 7px rgba(37, 37, 37, 0.15);
}

.inp {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.5px solid rgba(37, 37, 37, 0.8);
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(37, 37, 37, 0.8);
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.radio {
  position: relative;
}

.radio__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: absolute;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.radio__input:checked + .radio__label::after {
  opacity: 1;
}

.radio__label {
  padding-left: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.radio__label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: block;
  width: 16px;
  height: 16px;
  border: 0.3px solid #252525;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.radio__label::after {
  content: "";
  position: absolute;
  top: 5.1px;
  left: 5.2px;
  z-index: 2;
  opacity: 0;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E0BEA2;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.chevron-bottom {
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.unordered-list__item:not(:first-child) {
  margin-top: 5px;
}

.unordered-list__item::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 999px;
  background-color: #252525;
  margin: 0 5px 2px 0;
}

/**
 * Swiper 8.4.6
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: January 17, 2023
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
  -ms-flex-order: 9999;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

.categories-swiper {
  width: 100%;
  height: 450px;
}

.categories-swiper .swiper-button-next::after,
.categories-swiper .swiper-button-prev::after {
  width: 40px;
  height: 40px;
  background-color: #E0BEA2;
  padding: 8px 13px;
  color: #FFFFFF;
  font-size: 24px;
}

.categories-swiper .swiper-button-next::after {
  margin-right: 20px;
}

.categories-swiper .swiper-button-prev::after {
  margin-left: 20px;
}

.categories-swiper .swiper-button-disabled {
  display: none;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #FFFFFF;
  cursor: pointer;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  height: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.select__value span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value::before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background: url("../img/icons/chevron-bottom.svg") center/100% no-repeat;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.select__options {
  display: none;
  position: absolute;
  top: 30px;
  min-width: 100%;
  left: 0;
  color: #FFFFFF;
  font-size: 16px;
  background-color: #FFFFFF;
}

.select__option {
  text-align: center;
  cursor: pointer;
  padding: 3px 12px;
  border-top: 1px solid #E0BEA2;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value::before {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select._active.select__options {
  display: block;
}

.search {
  position: absolute;
  top: 80px;
  right: 0;
}

.search__close {
  display: block;
  padding: 3px 0;
  color: #252525;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.search__close:hover {
  color: #E0BEA2;
}

.search__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__inp {
  width: 300px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #252525;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.search__inp:focus {
  border: 1px solid #E0BEA2;
}

.search__btn {
  position: absolute;
  top: 13px;
  right: 20px;
}

.header__inner {
  position: relative;
  padding-top: 24px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu-icon,
.header__hidden-icon {
  z-index: 5;
  position: relative;
  display: block;
  width: 34px;
  height: 24px;
  cursor: pointer;
}

.header__menu-icon span,
.header__menu-icon::before,
.header__menu-icon::after,
.header__hidden-icon span,
.header__hidden-icon::before,
.header__hidden-icon::after {
  left: 0;
  position: absolute;
  height: 4px;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
  background-color: #E0BEA2;
}

.header__menu-icon::before,
.header__menu-icon::after,
.header__hidden-icon::before,
.header__hidden-icon::after {
  content: "";
}

.header__menu-icon span,
.header__hidden-icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
  -ms-transform: scale(1) translate(0px, -50%);
  transform: scale(1) translate(0px, -50%);
  width: 26px;
}

.header__menu-icon::before,
.header__hidden-icon::before {
  top: 0;
  width: 34px;
}

.header__menu-icon::after,
.header__hidden-icon::after {
  bottom: 0;
  width: 18px;
}

.header__menu {
  list-style-type: none;
  margin-left: 39px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-link {
  color: #252525;
  margin-left: 26px;
}

.header__hidden-menu {
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 85px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 32px 16px 26px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 10px 15px rgba(37, 37, 37, 0.07);
  box-shadow: 0 10px 15px rgba(37, 37, 37, 0.07);
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.header__hidden-icon span {
  display: none;
}

.header__hidden-icon::after,
.header__hidden-icon::before {
  top: 8px;
  background-color: #E0BEA2;
}

.header__hidden-icon::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__hidden-icon::after {
  bottom: 10px;
  width: 34px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__hidden-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 144px;
}

.header__hidden-link {
  margin-left: 26px;
}

.header__hidden-menu._active {
  opacity: 1;
  pointer-events: auto;
}

.header .logo {
  display: block;
}

.header__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__select form:not(:first-child) {
  padding-left: 10px;
}

.header__select .select__value {
  color: #252525;
}

.header__select .select__value::before {
  background: url("../img/icons/chevron-bottom-dark.svg") center/100% no-repeat;
}

.header__select .select__options {
  background: none;
}

.header__select .select__option {
  color: #252525;
}

.header__select .select__close {
  color: #252525;
}

.header__select .select__close:hover {
  color: #E0BEA2;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__buttons-item:not(:first-child) {
  margin-left: 30px;
}

.header__buttons-item path {
  fill: #E0BEA2;
}

.header__buttons-item:first-child path {
  fill: #252525;
}

.header__mobile-menu {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.header .search {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.header .search._active {
  opacity: 1;
  pointer-events: auto;
}

.header .search--mobile {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: auto;
}

.header__inner--light .header__menu-icon span,
.header__inner--light .header__menu-icon::before,
.header__inner--light .header__menu-icon::after {
  background-color: #FFFFFF;
}

.header__inner--light .header__menu-icon:hover span,
.header__inner--light .header__menu-icon:hover::before,
.header__inner--light .header__menu-icon:hover::after {
  background-color: #E0BEA2;
}

.header__inner--light .header__menu-link {
  color: #FFFFFF;
}

.header__inner--light .header__menu-link:hover {
  color: #E0BEA2;
}

.header__inner--light .header__buttons-item path {
  fill: #FFFFFF;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.header__inner--light .header__buttons-item:hover path {
  fill: #E0BEA2;
}

.header__inner--light .select__value {
  color: #FFFFFF;
}

.header__inner--light .select__value::before {
  background: url("../img/icons/chevron-bottom.svg") center/100% no-repeat;
}

.header__inner--light .select__option {
  color: #FFFFFF;
}

.header__inner--light .search__close {
  color: #FFFFFF;
}

.header__inner--light .header__hidden-menu {
  -webkit-box-shadow: 0 10px 15px rgba(37, 37, 37, 0.64);
  box-shadow: 0 10px 15px rgba(37, 37, 37, 0.64);
}

.contacts {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 200;
  text-align: left;
}

.contacts .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contacts .social-icons__item {
  display: block;
  margin: 0 5px;
}

.contacts__phone {
  margin: 7px 0;
}

.subscribe {
  width: 600px;
  margin: 0 auto;
  padding: 0 0 100px 0;
  text-align: center;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.subscribe__form-inp {
  margin-top: 50px;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.subscribe__form-message {
  opacity: 0;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
  visibility: hidden;
  margin-top: 5px;
}

.subscribe__form-btn {
  margin: 15px 0 30px;
}

.subscribe__form._error .subscribe__form-inp {
  border-color: #C35354;
}

.subscribe__form._error .subscribe__form-message {
  opacity: 1;
  visibility: visible;
  color: #C35354;
}

.subscribe__form._success .subscribe__form-inp {
  border-color: #007560;
}

.subscribe__descr {
  font-weight: 200;
}

.spoiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
}

.spoiler__trigger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.spoiler__trigger svg {
  display: none;
}

.spoiler__body li {
  display: block;
  margin-top: 10px;
}

.product-spoiler {
  width: 100%;
}

.product-spoiler:first-child {
  margin-top: 0;
}

.product-spoiler__trigger {
  position: relative;
  padding-bottom: 10px;
  font-size: 18px;
  border-bottom: 0.3px solid #252525;
  cursor: pointer;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.product-spoiler__trigger svg {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.product-spoiler__trigger svg path {
  fill: #E0BEA2;
}

.product-spoiler .spoiler__body {
  opacity: 0;
  overflow: hidden;
  height: 0;
  text-align: left;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.spoiler._active .spoiler__trigger,
.spoiler._active .product-spoiler__trigger,
.product-spoiler._active .spoiler__trigger,
.product-spoiler._active .product-spoiler__trigger {
  border-bottom: none;
}

.spoiler._active .spoiler__trigger svg,
.spoiler._active .product-spoiler__trigger svg,
.product-spoiler._active .spoiler__trigger svg,
.product-spoiler._active .product-spoiler__trigger svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spoiler._active .product-spoiler__trigger,
.product-spoiler._active .product-spoiler__trigger {
  padding-bottom: 20px;
}

.spoiler._active .spoiler__body,
.product-spoiler._active .spoiler__body {
  display: block;
  opacity: 1;
  overflow: visible;
  height: inherit;
}

.spoiler._active .spoiler__body:last-child,
.product-spoiler._active .spoiler__body:last-child {
  padding-bottom: 10px;
  border-bottom: 0.3px solid #252525;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after {
  content: "›";
  margin: 0 5px;
  color: #E0BEA2;
  font-weight: bold;
}

.breadcrumbs__item:hover a {
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
  color: #E0BEA2;
}

.category-sidebar {
  margin-right: 30px;
}

.category-sidebar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-sidebar__title {
  margin-right: 5px;
}

.category-sidebar__nav-link {
  display: block;
  margin-top: 20px;
}

.product-filters__btn {
  display: none;
}

.product-filters__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-filters__content form:not(:last-child) {
  margin-right: 50px;
}

.product-filters .select__value {
  color: #252525;
}

.product-filters .select__value::before {
  width: 15px;
  height: 15px;
  background: url("../../img/icons/chevron-bottom-dark.svg") center/100% no-repeat;
}

.product-filters .select__options {
  padding: 0 5px;
  background-color: #FFFFFF;
}

.product-filters .select__option {
  color: #252525;
  padding: 3px;
}

.product-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5px;
}

.product-colors__btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.product-colors__btn:not(:last-of-type) {
  margin-right: 5px;
}

.product-colors__btn:nth-of-type(1) {
  border: 0.3px solid #252525;
}

.product-colors__btn:nth-of-type(2) {
  background-color: #6F83A4;
}

.product-colors__btn:nth-of-type(3) {
  background-color: #F1DDAA;
}

.product-card {
  width: 310px;
  height: 460px;
  position: relative;
}

.product-card__img {
  width: 310px;
  height: 360px;
}

.product-card__like {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #E0BEA2;
  border-radius: 0 0 0 20px;
  cursor: pointer;
}

.product-card__like svg {
  height: 20px;
  width: 20px;
}

.product-card__like:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product-card__like:active {
  background-color: #CCA88A;
  -webkit-box-shadow: inset 0 5px 7px rgba(37, 37, 37, 0.15);
  box-shadow: inset 0 5px 7px rgba(37, 37, 37, 0.15);
}

.product-card__content {
  margin-top: 15px;
  text-align: center;
}

.product-card__title--new::after {
  content: "new";
  display: inline-block;
  margin-left: 10px;
  color: #E0BEA2;
}

.product-card__size-btn {
  color: rgba(37, 37, 37, 0.5);
  text-transform: uppercase;
}

.product-card__size-btn:not(:last-of-type) {
  margin-right: 5px;
}

.footer__spoilers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .contacts {
  margin-top: 10px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.footer .contacts .social-icons {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.footer__contacts {
  margin-top: 20px;
}

.footer__copyright {
  margin: 50px auto 20px;
  text-align: center;
}

.home {
  height: 800px;
  background: url("../img/photos/bg/women-main1.jpg") left/33.33% 100% no-repeat, url("../img/photos/bg/women-main2.jpg") center/33.33% 100% no-repeat, url("../img/photos/bg/women-main3.jpg") right/33.33% 100% no-repeat;
}

.home__inner {
  margin-top: 270px;
  text-align: center;
}

.home .title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  margin: 20px auto;
  background-color: #FFFFFF;
}

.home__link {
  vertical-align: middle;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.home__link-arrow {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.categories-sect__title {
  margin-bottom: 50px;
}

.categories-sect__slide {
  font-size: 20px;
}

.categories-sect__slide-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 30px;
  text-align: center;
  background-color: rgba(224, 190, 162, 0.8);
  color: #FFFFFF;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.delivery__content,
.delivery__ordering {
  margin-top: 20px;
}

.delivery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 20px;
}

.delivery__col {
  max-width: 550px;
}

.delivery .unordered-list {
  margin-top: 10px;
}

.delivery__ordering-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.delivery__step {
  max-width: 550px;
  min-width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.delivery__step:not(:last-of-type) {
  margin-right: 40px;
}

.delivery__step-descr {
  margin-left: 15px;
}

.refund__descr {
  margin-top: 5px;
}

.refund__descr:first-of-type {
  margin-top: 20px;
}

.refund__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.refund__terms-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 165px;
  text-align: center;
}

.refund__terms-item:not(:last-of-type) {
  margin-right: 30px;
}

.refund__terms-descr {
  margin-top: 10px;
}

.contacts-page__content {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 200px;
}

.contacts-page__item .social-icons__item:first-child {
  margin-right: 5px;
}

.contacts-page__item .social-icons img {
  width: 25px;
  height: 25px;
}

.contacts-page__item-descr,
.contacts-page__item .social-icons {
  margin-top: 20px;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.contacts-page__item-descr:hover,
.contacts-page__item .social-icons:hover {
  color: #E0BEA2;
}

.contacts-page .subscribe {
  margin-top: 100px;
}

.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-product__content {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(3, 1fr);
  grid-gap: 30px 15px;
  margin-top: 30px;
}

.product-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-page__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 560px;
  height: 540px;
  margin-right: 50px;
}

.product-page__slider .product-swiper {
  width: 450px;
  height: 540px;
}

.product-page__slider .product-thumb {
  margin-right: 10px;
}

.product-page__slider .product-thumb .swiper-slide img {
  width: 100px;
  height: 100px;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}

.product-page__slider .product-thumb .swiper-slide-thumb-active img {
  -webkit-filter: saturate(1);
  filter: saturate(1);
}

.product-page__content {
  width: 530px;
}

.product-page__price {
  margin: 20px 0;
}

.product-page__colors .product-colors {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.product-page__colors .product-colors__btn {
  width: 21px;
  height: 21px;
}

.product-page__colors-descr {
  margin-top: 10px;
  color: #E0BEA2;
}

.product-page__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 20px 0;
}

.product-page__actions .select {
  height: 50px;
  padding: 9px 20px;
  border: 0.3px solid #252525;
}

.product-page__actions .select__value,
.product-page__actions .select__option {
  color: #252525;
}

.product-page__actions .select__value::before {
  background: url("../img/icons/chevron-bottom-dark.svg") center/100% no-repeat;
}

.product-page__actions .select__options {
  margin-top: 9px;
  margin-left: -20.5px;
  width: calc(100% + 40.5px);
}

.product-page__actions .select__option:first-of-type {
  border-color: #252525;
}

.product-page__size {
  grid-area: 1/1/2/3;
}

.product-page__btn-cart {
  grid-area: 2/1/3/2;
}

.product-page__btn-favor {
  grid-area: 2/2/3/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 0.3px solid #252525;
  color: #252525;
}

.product-page__btn-favor span {
  margin-left: 10px;
}

.product-page__btn-favor path {
  fill: #E0BEA2;
}

.product-page .product-spoiler {
  margin-top: 20px;
}

.product-page .product-spoiler .spoiler__descr {
  line-height: 1.3;
}

.product-page .product-spoiler .spoiler__list li::before {
  content: "-";
  display: inline-block;
  margin-right: 8px;
}

.offers-sect__content {
  grid-template: 1fr/repeat(3, 1fr);
}

.favour .catalog-product__content {
  grid-template: 1fr/repeat(4, 1fr);
  grid-auto-flow: 1fr/repeat(4, 1fr);
}

@media (max-width: 1024.02px) {
  ._container {
    max-width: 979.98px;
    padding: 0 10px;
  }

  .section-page {
    padding: 30px 10px 60px;
  }

  .header__menu-link {
    margin-left: 20px;
  }

  .header__buttons-item:not(:first-child) {
    margin-left: 24px;
  }

  .product-card {
    width: 185px;
    height: 340px;
  }

  .product-card__img {
    width: 185px;
    height: 240px;
  }

  .product-card__like {
    width: 35px;
    height: 35px;
  }

  .product-card__like svg {
    height: 15px;
    width: 15px;
  }

  .delivery__ordering-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .delivery__col {
    max-width: 450px;
  }

  .delivery__step:nth-of-type(n + 3) {
    margin-top: 20px;
  }

  .refund__terms {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .refund__terms-item:not(:last-of-type) {
    margin-right: 19px;
  }

  .refund__terms-item:nth-of-type(n + 6) {
    margin-top: 20px;
  }

  .catalog-product__content {
    grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  }

  .product-page__slider {
    width: 475px;
    height: 460px;
    margin-right: 35px;
  }

  .product-page__slider .product-swiper {
    width: 365px;
    height: 460px;
  }

  .product-page__slider .product-swiper .swiper-slide,
  .product-page__slider .product-swiper .swiper-slide img {
    width: 365px;
    height: 460px;
  }

  .product-page__slider .product-thumb .swiper-slide,
  .product-page__slider .product-thumb .swiper-slide img {
    width: 85px;
    height: 85px;
  }

  .product-page__content {
    width: 430px;
  }

  .offers-sect__content {
    grid-template: 1fr/repeat(4, 1fr);
  }

  .favour .catalog-product__content {
    grid-template: 1fr/repeat(4, 1fr);
    grid-auto-flow: 1fr/repeat(4, 1fr);
  }
}

@media (max-width: 992.02px) {
  ._container {
    max-width: 739.98px;
    padding: 0 10px;
  }

  .section {
    padding: 60px 0;
  }

  .section-page {
    padding: 15px 10px 60px;
  }

  .h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .h3 {
    font-size: 18px;
    line-height: 21px;
  }

  .text {
    font-size: 14px;
  }

  .price {
    font-size: 14px;
  }

  .descr {
    font-size: 12px;
  }

  .navlink {
    font-size: 16px;
  }

  .navlink:hover {
    color: #252525;
  }

  .label {
    font-size: 10px;
    line-height: 12px;
  }

  .btn {
    height: 40px;
    font-size: 14px;
  }

  .btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn:active {
    background-color: #CCA88A;
    -webkit-box-shadow: inset 0 5px 7px rgba(37, 37, 37, 0.15);
    box-shadow: inset 0 5px 7px rgba(37, 37, 37, 0.15);
  }

  .inp {
    height: 40px;
    font-size: 14px;
  }

  .categories-swiper {
    height: 230px;
  }

  .header__select .select__options {
    background-color: #FFFFFF;
  }

  .header__inner--light .header__menu-icon:hover span,
  .header__inner--light .header__menu-icon:hover::before,
  .header__inner--light .header__menu-icon:hover::after {
    background-color: #FFFFFF;
  }

  .header__inner--light .header__buttons-item:hover path {
    fill: #FFFFFF;
  }

  .header__inner {
    padding-top: 20px;
  }

  .header__inner .logo img {
    height: 20px;
  }

  .header__menu-icon {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .header__menu-icon._active {
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
  }

  .header__menu-icon._active span {
    opacity: 0;
    left: -200%;
  }

  .header__menu-icon._active::before {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__menu-icon._active::after {
    bottom: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
  }

  .header__select {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .header .logo {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-left: 50px;
  }

  .header__buttons {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .header__menu {
    display: none;
  }

  .header__select {
    display: none;
  }

  .header__select--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header__select--mobile form:not(:first-child) {
    padding-left: 3px;
  }

  .header__select--mobile .select__title,
  .header__select--mobile .select__options {
    color: #252525;
  }

  .header__select--mobile .select__value::before {
    background: url("../img/icons/chevron-bottom-dark.svg") center/100% no-repeat;
  }

  .header__buttons-item:nth-child(-n+2) {
    display: none;
  }

  .header__hidden-menu,
  .header__hidden-menu._active {
    display: none;
  }

  .header .search {
    display: none;
  }

  .header .search--mobile {
    position: relative;
    display: block;
  }

  .header .search--mobile .search__close {
    display: none;
  }

  .header .search--mobile .search__inp {
    padding: 10px 15px;
  }

  .header .search--mobile .search__btn {
    top: 10px;
    right: 15px;
  }

  .header .search--mobile .search__btn svg {
    width: 20px;
    height: 20px;
  }

  .header__mobile-menu {
    display: block;
    position: absolute;
    top: 64px;
    left: -100%;
    width: 100%;
    height: calc(100% - 64px);
    padding: 20px 20px 30px 20px;
    background-color: #FFFFFF;
    overflow: auto;
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
  }

  .header__mobile-menu._active {
    opacity: 1;
    pointer-events: auto;
    left: 0%;
    z-index: 6;
    overflow: auto;
  }

  .header__mobile-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .header__mobile-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px 0 78px;
  }

  .header__mobile-list {
    width: 100%;
  }

  .header__mobile-list:first-child svg {
    margin-right: 5px;
  }

  .header__mobile-list:first-child path {
    fill: #E0BEA2;
  }

  .header__mobile-list:last-child {
    border-bottom: 0.3px solid #252525;
  }

  .header__mobile-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
    border-top: 0.3px solid #252525;
  }

  .contacts {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .subscribe {
    padding: 0 0 60px 0;
  }

  .subscribe__form-inp {
    margin-top: 30px;
  }

  .subscribe__form-btn {
    margin: 15px 0;
  }

  .spoiler {
    width: 100%;
  }

  .spoiler:first-child {
    margin-top: 0;
  }

  .spoiler__trigger {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 18px;
    border-bottom: 0.3px solid #252525;
    cursor: pointer;
    -webkit-transition: 0.6s all;
    -o-transition: 0.6s all;
    transition: 0.6s all;
  }

  .spoiler__trigger svg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .spoiler__body {
    opacity: 0;
    overflow: hidden;
    height: 0;
    text-align: center;
    -webkit-transition: 0.6s all;
    -o-transition: 0.6s all;
    transition: 0.6s all;
  }

  .spoiler__navlink {
    font-size: 16px;
  }

  .breadcrumbs .breadcrumbs__item a {
    font-size: 16px;
  }

  .breadcrumbs:hover {
    color: #FFFFFF;
  }

  .category-sidebar {
    margin-right: 20px;
  }

  .product-card__content {
    margin-top: 10px;
    font-size: 14px;
  }

  .footer__spoilers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__contacts-title {
    text-align: center;
    font-size: 18px;
  }

  .home {
    height: 667px;
    background: url("../img/photos/bg/women-main1.jpg") left/50% 100% no-repeat, url("../img/photos/bg/women-main3.jpg") right/50% 100% no-repeat;
  }

  .home__inner {
    margin-top: 225px;
  }

  .categories-sect__title {
    margin-bottom: 30px;
  }

  .categories-sect__slide {
    font-size: 18px;
    height: 230px;
  }

  .categories-sect__slide img {
    width: 165px;
    height: 230px;
  }

  .delivery__col {
    max-width: 340px;
  }

  .delivery__ordering-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .delivery .delivery__step {
    max-width: 100%;
    margin-top: 15px;
  }

  .refund__terms {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .refund__terms-item:nth-of-type(n + 3) {
    margin-top: 20px;
  }

  .contacts-page .subscribe {
    margin-top: 60px;
  }

  .catalog-product__content {
    grid-template: repeat(4, 1fr)/repeat(3, 1fr);
    grid-gap: 10px 5px;
  }

  .product-page__slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 365px;
    height: 500px;
    margin-right: 30px;
  }

  .product-page__slider .product-swiper {
    width: 100%;
    height: 500px;
  }

  .product-page__slider .product-swiper .swiper-slide,
  .product-page__slider .product-swiper .swiper-slide img {
    width: 365px;
    height: 430px;
  }

  .product-page__slider .product-thumb {
    margin-top: 15px;
    margin-right: 0;
    width: 100%;
  }

  .product-page__slider .product-thumb .swiper-slide,
  .product-page__slider .product-thumb .swiper-slide img {
    width: 63px;
    height: 63px;
  }

  .product-page__content {
    width: 305px;
  }

  .product-page__price {
    font-size: 16px;
  }

  .product-page__actions {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .product-page__actions .select,
  .product-page__actions button {
    height: 40px;
  }

  .product-page__actions .select {
    padding: 4px 20px;
  }

  .product-page__size {
    grid-area: 1;
  }

  .product-page__btn-cart {
    grid-area: 2;
  }

  .product-page__btn-favor {
    grid-area: 3;
  }

  .offers-sect__content {
    grid-template: 1fr/repeat(3, 1fr);
  }

  .favour .catalog-product__content {
    grid-template: 1fr/repeat(3, 1fr);
    grid-auto-flow: 1fr/repeat(3, 1fr);
    grid-gap: 10px 5px;
  }
}

@media (max-width: 720.02px) {
  ._container {
    max-width: 354.98px;
    padding: 0 10px;
  }

  .page-content {
    margin-top: 15px;
  }

  .select__value::before {
    margin-left: 3px;
  }

  .header .logo {
    margin-left: 60px;
  }

  .header .logo img {
    height: 20px;
  }

  .header__buttons-item img {
    width: 20px;
    height: 20px;
  }

  .header .search--mobile .search__inp {
    width: 210px;
  }

  .header__mobile-body {
    margin: 50px 0 60px;
  }

  .header__mobile-settings {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .subscribe {
    width: 100%;
  }

  .breadcrumbs {
    max-width: 355px;
  }

  .category-sidebar {
    margin-right: 0;
    width: 100%;
  }

  .category-sidebar__btn {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #E0BEA2;
  }

  .category-sidebar__title {
    color: #FFFFFF;
  }

  .category-sidebar__nav {
    opacity: 0;
    overflow: hidden;
    height: 0;
    text-align: center;
    -webkit-transition: 0.6s all;
    -o-transition: 0.6s all;
    transition: 0.6s all;
  }

  .category-sidebar__nav-link {
    font-size: 16px;
  }

  .category-sidebar._active .category-sidebar__nav {
    opacity: 1;
    overflow: visible;
    min-height: 500px;
    height: inherit;
  }

  .category-sidebar._active .chevron-bottom {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .product-filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .product-filters__btn {
    margin-top: 15px;
    padding-bottom: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 0.3px solid #252525;
  }

  .product-filters__btn .chevron-bottom path {
    fill: #E0BEA2;
  }

  .product-filters__content {
    opacity: 0;
    overflow: hidden;
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: 0.6s all;
    -o-transition: 0.6s all;
    transition: 0.6s all;
  }

  .product-filters__content form:not(:last-child) {
    margin-right: 0px;
  }

  .product-filters._active .product-filters__btn {
    border-bottom: none;
  }

  .product-filters._active .product-filters__btn .chevron-bottom {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .product-filters._active .product-filters__content {
    opacity: 1;
    overflow: visible;
    height: inherit;
  }

  .product-filters._active form:last-of-type .select__item {
    padding-bottom: 5px;
    border-bottom: 0.3px solid #252525;
  }

  .product-filters._active .select._active .select__options {
    background-color: #FFFFFF;
  }

  .product-card {
    width: 165px;
    height: 330px;
  }

  .product-card__img {
    width: 165px;
    height: 230px;
  }

  .product-card__content {
    margin-top: 10px;
    font-size: 14px;
  }

  .home {
    height: 667px;
    background: url("../img/photos/bg/women-main1.jpg") left/100% no-repeat;
  }

  .delivery__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .delivery__content,
  .delivery__ordering {
    margin-top: 15px;
  }

  .delivery__col {
    max-width: 550px;
  }

  .delivery .unordered-list {
    margin-top: 10px;
  }

  .refund__descr:first-of-type {
    margin-top: 15px;
  }

  .refund__terms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .refund__terms-item {
    width: 100%;
  }

  .refund__terms-item:not(:first-of-type) {
    margin-top: 15px;
  }

  .refund__terms-item:not(:last-of-type) {
    margin-right: 0px;
  }

  .contacts-page__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .contacts-page__item {
    width: 160px;
  }

  .contacts-page__item:nth-of-type(n + 3) {
    margin-top: 15px;
  }

  .contacts-page__item-descr {
    margin-top: 15px;
  }

  .catalog__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .catalog-product__content {
    grid-template: repeat(5, 1fr)/repeat(2, 1fr);
    margin-top: 15px;
  }

  .product-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .product-page__slider {
    margin-right: 0;
  }

  .product-page__slider,
  .product-page .product-thumb,
  .product-page .product-swiper {
    width: 335px;
  }

  .product-page .product-swiper .swiper-slide,
  .product-page .product-swiper .swiper-slide img {
    width: 335px;
    height: 505px;
  }

  .product-page__content {
    margin-top: 30px;
    width: 335px;
  }

  .offers-sect__content {
    grid-template: 1fr/repeat(2, 1fr);
  }

  .favour .catalog-product__content {
    grid-template: 1fr/repeat(2, 1fr);
    grid-auto-flow: 1fr/repeat(2, 1fr);
    margin-top: 15px;
  }
}