.product-page {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    // * SLIDER

    &__slider {
        display: flex;
        flex-direction: row-reverse;
        width: 560px;
        height: 540px;
        margin-right: 50px;

        .product-thumb {
            margin-right: 10px;
            .swiper-slide {
                img {
                    width: 100px;
                    height: 100px;
                    filter: saturate(0);
                }
            }
            .swiper-slide-thumb-active {
                img {
                    filter: saturate(1);
                }
            }
        }
    }
    &__content {
        width: 530px;
    }
    &__price {
        margin: 20px 0;
    }
    &__colors {
        .product-colors {
            justify-content: start;
            &__btn {
                width: 21px;
                height: 21px;
                // margin: 3px;
                // &--active {
                //     border: $border;
                // }
            }
        }
        &-descr {
            margin-top: 10px;
            color: $primary-accent-color;
        }
    }

    // * ACTIONS

    &__actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
        margin: 20px 0;

        .select {
            height: 50px;
            padding: 9px 20px;
            border: $border;

            &__value,
            &__option {
                color: $dark-color;
            }
            &__value::before {
                background: url("../../img/icons/chevron-bottom-dark.svg") center / 100% no-repeat;
            }
            &__options {
                margin-top: 9px;
                margin-left: -20.5px;
                width: calc(100% + 40.5px);
            }
            &__option:first-of-type {
                border-color: $dark-color;
            }
        }
    }
    &__size {
        grid-area: 1 / 1 / 2 / 3;
    }
    &__btn-cart {
        grid-area: 2 / 1 / 3 / 2;
    }
    &__btn-favor {
        grid-area: 2 / 2 / 3 / 3;
        background-color: $light-color;
        border: $border;
        color: $dark-color;

        span {
            margin-left: 10px;
        }
        path {
            fill: $primary-accent-color;
        }
    }

    // * DETAILS

    .product-spoiler {
        margin-top: 20px;

        .spoiler__descr {
            line-height: 1.3;
        }
        .spoiler__list li::before {
            content: "-";
            display: inline-block;
            margin-right: 8px;
        }
    }
}

.offers-sect {
    &__content {
        display: flex;
        margin-top: 30px;

        .product-card:not(:last-child) {
            margin-right: 15px;
        }
    }
}
