.footer {
    &__spoilers {
        display: flex;
        justify-content: space-between;
    }
    .contacts {
        margin-top: 10px;
        justify-content: start;

        .social-icons {
            justify-content: start;
        }
    }
    &__contacts {
        margin-top: 20px;
    }
    &__copyright {
        margin: 50px auto 20px;
        text-align: center;
    }

    @include media768 {
        &__spoilers {
            flex-direction: column;
            justify-content: center;
        }
        &__contacts-title {
            text-align: center;
            font-size: 18px;
        }
    }
}
