.header {
    &__inner {
        position: relative;
        padding-top: 24px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu-icon,
    &__hidden-icon {
        z-index: 5;
        position: relative;
        display: block;
        width: 34px;
        height: 24px;
        cursor: pointer;

        & span,
        &::before,
        &::after {
            left: 0;
            position: absolute;
            height: 4px;
            transition: $normalTransition;
            background-color: $primary-accent-color;
        }
        &::before,
        &::after {
            content: "";
        }
        & span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
            width: 26px;
        }
        &::before {
            top: 0;
            width: 34px;
        }
        &::after {
            bottom: 0;
            width: 18px;
        }
    }
    &__menu {
        list-style-type: none;
        margin-left: 39px;

        &-list {
            display: flex;
        }
        &-link {
            color: $dark-color;
            margin-left: 26px;
        }
    }

    // * HIDDEN MENU

    &__hidden {
        // * ^undefined class^
        &-menu {
            z-index: 5;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 85px;
            left: 0;
            display: flex;
            align-items: center;

            width: 100%;
            padding: 32px 16px 26px;
            background-color: $light-color;
            box-shadow: 0 10px 15px rgba($color: $dark-color, $alpha: 0.07);
            transition: $normalTransition;
        }

        &-icon {
            span {
                display: none;
            }
            &::after,
            &::before {
                top: 8px;
                background-color: $primary-accent-color;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                bottom: 10px;
                width: 34px;
                transform: rotate(-45deg);
            }
        }
        &-list {
            display: flex;
            margin-left: 144px;
        }
        &-link {
            margin-left: 26px;
        }
        &-menu._active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .logo {
        display: block;
    }

    // * SELECT STYLISATION

    &__select {
        display: flex;
        form:not(:first-child) {
            padding-left: 10px;
        }
        .select {
            &__value {
                color: $dark-color;
                &::before {
                    background: url($pathIconDark) center / 100% no-repeat;
                }
            }
            &__options {
                background: none;
                @include media768 {
                    background-color: $light-color;
                }
            }
            &__option {
                color: $dark-color;
            }
            &__close {
                color: $dark-color;
                &:hover {
                    color: $primary-accent-color;
                }
            }
        }
    }

    // * BUTTONS

    &__buttons {
        display: flex;
        &-item {
            &:not(:first-child) {
                margin-left: 30px;
            }
            path {
                fill: $primary-accent-color;
            }
            &:first-child {
                path {
                    fill: $dark-color;
                }
            }
        }
    }
    &__mobile-menu {
        opacity: 0;
        pointer-events: none;
        display: none;
    }

    // * SEARCH

    .search {
        opacity: 0;
        pointer-events: none;
        transition: $normalTransition;

        &._active {
            opacity: 1;
            pointer-events: auto;
        }
        &--mobile {
            position: relative;
            top: 0;
            left: 0;
            opacity: 1;
            pointer-events: auto;
        }
    }

    //  * LIGHT HEADER

    &__inner--light {
        .header {
            &__menu-icon {
                & span,
                &::before,
                &::after {
                    background-color: $light-color;
                }
                &:hover {
                    & span,
                    &::before,
                    &::after {
                        background-color: $primary-accent-color;
                    }
                }
                @include media768 {
                    &:hover {
                        & span,
                        &::before,
                        &::after {
                            background-color: $light-color;
                        }
                    }
                }
            }
            &__menu-link {
                color: $light-color;
                &:hover {
                    color: $primary-accent-color;
                }
            }

            &__buttons-item {
                path {
                    fill: $light-color;
                    transition: $normalTransition;
                }
                &:hover {
                    path {
                        fill: $primary-accent-color;
                    }
                }

                @include media768 {
                    &:hover {
                        path {
                            fill: $light-color;
                        }
                    }
                }
            }
        }
        .select {
            &__value {
                color: $light-color;
                &::before {
                    background: url($pathIcon) center / 100% no-repeat;
                }
            }
            &__option {
                color: $light-color;
            }
        }
        .search__close {
            color: $light-color;
        }
        .header__hidden-menu {
            box-shadow: 0 10px 15px rgba($color: $dark-color, $alpha: 0.64);
        }
    }

    // * 1024

    @include media1024 {
        &__menu-link {
            margin-left: 20px;
        }
        &__buttons-item {
            &:not(:first-child) {
                margin-left: 24px;
            }
        }
    }

    // * 768

    @include media768 {
        &__inner {
            padding-top: 20px;
            .logo {
                img {
                    height: 20px;
                }
            }
        }
        &__menu-icon {
            order: 1;
            &._active {
                transition: $fastTransition;
                span {
                    opacity: 0;
                    left: -200%;
                }
                &::before {
                    top: 10px;
                    transform: rotate(45deg);
                }
                &::after {
                    bottom: 10px;
                    transform: rotate(-45deg);
                    width: 100%;
                }
            }
        }
        &__select {
            order: 2;
        }
        .logo {
            order: 3;
            margin-left: 50px;
        }
        &__buttons {
            order: 4;
        }
        &__menu {
            display: none;
        }
        &__select {
            display: none;

            // * SELECT MOBILE

            &--mobile {
                display: flex;
                justify-content: center;

                form:not(:first-child) {
                    padding-left: 3px;
                }
                .select__title,
                .select__options {
                    color: $dark-color;
                }
                .select__value::before {
                    background: url($pathIconDark) center / 100% no-repeat;
                }
            }
        }
        &__buttons-item {
            &:nth-child(-n + 2) {
                display: none;
            }
        }
        &__hidden-menu,
        &__hidden-menu._active {
            display: none;
        }
        .search {
            display: none;

            // * SEARCH MOBILE

            &--mobile {
                position: relative;
                display: block;

                .search__close {
                    display: none;
                }
                .search__inp {
                    padding: 10px 15px;
                }
                .search__btn {
                    top: 10px;
                    right: 15px;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        // * MOBILE MENU

        &__mobile {
            // * ^undefined class^
            &-menu {
                display: block;
                position: absolute;
                top: 64px;
                left: -100%;
                width: 100%;
                height: calc(100% - 64px);
                padding: 20px 20px 30px 20px;
                background-color: $light-color;
                overflow: auto;
                transition: $fastTransition;

                &._active {
                    opacity: 1;
                    pointer-events: auto;
                    left: 0%;
                    z-index: 6;
                    overflow: auto;
                }
            }
            &-settings {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            &-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 50px 0 78px;
            }
            &-list {
                width: 100%;
                &:first-child {
                    svg {
                        margin-right: 5px;
                    }
                    path {
                        fill: $primary-accent-color;
                    }
                }
                &:last-child {
                    border-bottom: 0.3px solid $dark-color;
                }
            }
            &-link {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0;
                border-top: 0.3px solid $dark-color;
            }
        }
    }

    // * 375

    @include media375 {
        .logo {
            margin-left: 60px;
            img {
                height: 20px;
            }
        }
        &__buttons-item {
            img {
                width: 20px;
                height: 20px;
            }
        }
        .search {
            &--mobile {
                .search__inp {
                    width: 210px;
                }
            }
        }
        &__mobile {
            // * ^undefined class^
            &-body {
                margin: 50px 0 60px;
            }
            &-settings {
                justify-content: space-between;
            }
        }
    }
}
