.news-item {
    padding: 20px;
    border: 2px solid rgb(78, 40, 167);
    border-radius: 5px;
    background-color: #fff;
    width: 200px;
}

@media screen and (max-width: 768px) {
    .news-item {
        border-color: #f0f0f0;
        margin: 20px 0;
    }
}