.product-card {
    width: 310px;
    height: 460px;
    position: relative;
    &__img {
        width: 310px;
        height: 360px;
    }
    &__like {
        z-index: 3;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: $primary-accent-color;
        border-radius: 0 0 0 20px;
        cursor: pointer;

        svg {
            height: 20px;
            width: 20px;
        }
        &:hover {
            box-shadow: none;
        }
        &:active {
            background-color: $secondary-accent-color;
            box-shadow: inset 0 5px 7px rgba($color: $dark-color, $alpha: 0.15);
        }
    }
    &__content {
        margin-top: 15px;
        text-align: center;
    }
    &__title--new {
        &::after {
            content: "new";
            display: inline-block;
            margin-left: 10px;
            color: $primary-accent-color;
        }
    }
    &__size {
        &-btn {
            color: rgba($color: $dark-color, $alpha: 0.5);
            text-transform: uppercase;

            &:not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }

    // * MEDIA

    @include media1024 {
        width: 185px;
        height: 326px;

        &__img {
            width: 185px;
            height: 216px;
        }
        &__like {
            width: 35px;
            height: 35px;

            svg {
                height: 15px;
                width: 15px;
            }
        }
    }
    @include media768 {
        &__content {
            margin-top: 10px;
            font-size: 14px;
        }
    }
    @include media375 {
        width: 172px;
        height: 320px;

        &__img {
            width: 172px;
            height: 230px;
        }
        &__content {
            margin-top: 10px;
            font-size: 14px;
        }
    }
}
