.search {
    position: absolute;
    top: 80px;
    right: 0;

    &__close {
        display: block;
        padding: 3px 0;
        color: $dark-color;
        transition: $normalTransition;

        &:hover {
            color: $primary-accent-color;
        }
    }
    &__body {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__inp {
        width: 300px;
        height: 40px;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid $dark-color;
        transition: $normalTransition;

        &:focus {
            border: 1px solid $primary-accent-color;
        }
    }
    &__btn {
        position: absolute;
        top: 13px;
        right: 20px;
    }
}
