// For good display of fonts downloaded from Google Fonts, add params to end of the link:
// &display=swap&subset=cyrillic-ext

// * Font include
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"),
			url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@include font("Raleway", "Raleway-ExtraLight", "200", "normal");
@include font("Raleway", "Raleway-Light", "300", "normal");
@include font("Raleway", "Raleway-Bold", "700", "normal");