// * DEFAULT FONT
$font-family: "Raleway";
$font-size: 16;

// * MAX & MIN WIDTH
$max-width: 1600;
$min-width: 375;

// * BREAKPOINTS
$big-tablet: 1024.02;
$little-tablet: 992.02;
$phone: 720.02;

// * CONTAINERS
// Макс. ширина контейнера с учетом padding, чтобы контент не прилипал к краям при адаптиве
// 1280 + 20*2 или 959.98 + 10*2 (если padding: 0 10px)

$xl: 1140 + 40;
$lg: 959.98 + 20;
$md: 719.98 + 20;
$sm: 334.98 + 20;

// * COLORS
$dark-color: #252525;
// $secondary-dark-color: #0C0C0C;
$light-color: #FFFFFF;
$primary-accent-color: #E0BEA2;
$secondary-accent-color: #CCA88A;
$catalog-color-blue: #6F83A4;
$catalog-color-yellow: #F1DDAA;
$success-green: #007560;
$error-red: #C35354;

// * EFFECTS
$normalTransition: .6s all;
$fastTransition: .4s all;
$border: 0.3px solid $dark-color;

// * OTHER
$pathIcon: "../img/icons/chevron-bottom.svg";
$pathIconDark: "../img/icons/chevron-bottom-dark.svg";