.home {
    height: 800px;
    background: url("../img/photos/bg/women-main1.jpg") left / 33.33% 100% no-repeat,
        url("../img/photos/bg/women-main2.jpg") center / 33.33% 100% no-repeat,
        url("../img/photos/bg/women-main3.jpg") right / 33.33% 100% no-repeat;
    &__inner {
        margin-top: 320px;
        text-align: center;
    }
    .title {
        &::after {
            content: "";
            display: block;
            width: 120px;
            height: 1px;
            margin: 20px auto;
            background-color: $light-color;
        }
    }
    &__link {
        vertical-align: middle;
        font-size: 16px;
        text-transform: uppercase;
        color: $light-color;
        
        &-arrow {
            transform: rotate(-90deg);
        }
    }

    @include media768 {
        height: 667px;
        background: url("../img/photos/bg/women-main1.jpg") left / 50% 100% no-repeat,
            url("../img/photos/bg/women-main3.jpg") right / 50% 100% no-repeat;

        &__inner {
            margin-top: 240px;
        }
    }
    @include media375 {
        height: 667px;
        background: url("../img/photos/bg/women-main1.jpg") left / 100% no-repeat;
    }
}
