<footer class="footer">
    <div class="footer__container _container">
        <div class="footer__spoilers">
            <div class="spoiler">
                <div class="spoiler__trigger h3">
                    <span>КОМПАНИЯ</span>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 9.88903L12.8891 5.99997L14 7.11091L9 12.1109L4 7.1109L5.11094 5.99997L9 9.88903Z"
                            fill="#E0BEA2" />
                    </svg>
                </div>
                <div class="spoiler__content">
                    <ul class="spoiler__body">
                        <li><a href="#" class="spoiler__navlink text">О нас</a></li>
                        <li><a href="contacts-page.html" class="spoiler__navlink text">Контакты</a></li>
                    </ul>
                </div>
            </div>

            <div class="spoiler">
                <div class="spoiler__trigger h3">
                    <span>ПОЛЕЗНОЕ</span>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 9.88903L12.8891 5.99997L14 7.11091L9 12.1109L4 7.1109L5.11094 5.99997L9 9.88903Z"
                            fill="#E0BEA2" />
                    </svg>
                </div>
                <div class="spoiler__content">
                    <ul class="spoiler__body">
                        <li><a href="delivery.html" class="spoiler__navlink text">Оплата и доставка</a></li>
                        <li><a href="refund.html" class="spoiler__navlink text">Условия возврата</a></li>
                        <li><a href="#" class="spoiler__navlink text">Бонусная система</a></li>
                    </ul>
                </div>
            </div>

            <div class="spoiler">
                <div class="spoiler__trigger h3">
                    <span>ПОКУПАТЕЛю</span>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 9.88903L12.8891 5.99997L14 7.11091L9 12.1109L4 7.1109L5.11094 5.99997L9 9.88903Z"
                            fill="#E0BEA2" />
                    </svg>
                </div>
                <div class="spoiler__content">
                    <ul class="spoiler__body">
                        <li><a href="#" class="spoiler__navlink text">Избранное</a></li>
                        <li><a href="#" class="spoiler__navlink text">Публичная оферта</a></li>
                        <li><a href="#" class="spoiler__navlink text">Политика конфиденциальности</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__contacts">
                <div class="footer__contacts-title h3">
                    КОНТАКТЫ
                </div>
                @@include("_contacts.html")
            </div>
        </div>
        <div class="footer__copyright des">©️ 2022 Yanki. All rights reserved</div>
    </div>
</footer>