<footer class="footer">
    <div class="footer__container _container">
        <div class="footer__spoilers">
            <div class="footer__spoilers-item">
                <div class="footer__spoilers-title h3">
                    <button class="footer__spoilers-btn">
                        КОМПАНИЯ
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 9.88903L12.8891 5.99997L14 7.11091L9 12.1109L4 7.1109L5.11094 5.99997L9 9.88903Z"
                                fill="#E0BEA2" />
                        </svg>
                    </button>
                </div>
                <ul class="footer__spoilers-nav">
                    <li><a href="#" class="footer__spoilers-link text">О нас</a></li>
                    <li><a href="#" class="footer__spoilers-link text">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__spoilers-item">
                <div class="footer__spoilers-title h3">
                    <button class="footer__spoilers-btn">
                        ПОЛЕЗНОЕ
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 9.88903L12.8891 5.99997L14 7.11091L9 12.1109L4 7.1109L5.11094 5.99997L9 9.88903Z"
                                fill="#E0BEA2" />
                        </svg>
                    </button>
                </div>
                <ul class="footer__spoilers-nav">
                    <li><a href="#" class="footer__spoilers-link text">Оплата и доставка</a></li>
                    <li><a href="#" class="footer__spoilers-link text">Условия возврата</a></li>
                    <li><a href="#" class="footer__spoilers-link text">Бонусная система</a></li>
                </ul>
            </div>
            <div class="footer__spoilers-item">
                <div class="footer__spoilers-title h3">
                    <button class="footer__spoilers-btn">
                        ПОКУПАТЕЛю
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 9.88903L12.8891 5.99997L14 7.11091L9 12.1109L4 7.1109L5.11094 5.99997L9 9.88903Z"
                                fill="#E0BEA2" />
                        </svg>
                    </button>
                </div>
                <ul class="footer__spoilers-nav">
                    <li><a href="#" class="footer__spoilers-link text">Избранное</a></li>
                    <li><a href="#" class="footer__spoilers-link text">Публичная оферта</a></li>
                    <li><a href="#" class="footer__spoilers-link text">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="footer__spoilers-item">
                <div class="footer__spoilers-title h3">
                    КОНТАКТЫ
                </div>
                @@include("_social.html")
            </div>
        </div>
        <div class="footer__copyright des">©️ 2022 Yanki. All rights reserved</div>
    </div>
</footer>