<header class="header">
    <div class="header__container _container">

        <div class="header__inner">
            <div class="header__body">
                <div class="header__menu-icon">
                    <span></span>
                </div>
                <div class="header__menu">
                    <nav class="header__menu-list">
                        <li><a href="#" class="header__menu-link navlink">NEW</a></li>
                        <li><a href="#" class="header__menu-link navlink">КАТАЛОГ</a></li>
                        <li><a href="#" class="header__menu-link navlink">О НАС</a></li>
                    </nav>
                </div>
                <a href="#" class="logo">
                    <img src="img/logo/white-logo.svg" alt="логотип">
                </a>
                <div class="header__select">
                    <div>
                        <select name="select-lang" id="select-lang" class="select-lang">
                            <option value="RU" selected>RU</option>
                            <option value="UA">UA</option>
                            <option value="EN">EN</option>
                        </select>
                    </div>
                    <div>
                        <select name="select-currency" id="select-currency" class="select-currency">
                            <option value="UAH" selected>UAH</option>
                            <option value="RUB">RUB</option>
                            <option value="USD">USD</option>
                        </select>
                    </div>
                </div>
                <div class="header__buttons">
                    <button class="header__buttons-item search-btn"><img src="../../img/icons/search.svg"
                            alt="поиск"></button>
                    <a href="#" class="header__buttons-item"><img src="../../img/icons/user.svg"
                            alt="личный кабинет"></a>
                    <a href="#" class="header__buttons-item"><img src="../../img/icons/heart.svg" alt="избранные"></a>
                    <a href="#" class="header__buttons-item"><img src="../../img/icons/shopping-cart.svg"
                            alt="корзина"></a>
                </div>
            </div>
            <div class="search">
                <div class="search-body">
                    <input type="text" name="search" id="search" class="search__inp" placeholder="Введите ваш запрос">
                    <span class="search__icon">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_100_26)">
                                <path
                                    d="M19.729 17.9888L25 23.2586L23.2586 25L17.9888 19.729C16.028 21.3009 13.5892 22.1558 11.0761 22.1522C4.9621 22.1522 0 17.1901 0 11.0761C0 4.9621 4.9621 0 11.0761 0C17.1901 0 22.1522 4.9621 22.1522 11.0761C22.1558 13.5892 21.3009 16.028 19.729 17.9888ZM17.2603 17.0757C18.8221 15.4695 19.6944 13.3165 19.6909 11.0761C19.6909 6.31584 15.8351 2.46136 11.0761 2.46136C6.31584 2.46136 2.46136 6.31584 2.46136 11.0761C2.46136 15.8351 6.31584 19.6909 11.0761 19.6909C13.3165 19.6944 15.4695 18.8221 17.0757 17.2603L17.2603 17.0757Z"
                                    fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_100_26">
                                    <rect width="25" height="25" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="header__hidden-menu">
        <div class="header__hidden-icon">
            <span></span>
        </div>
        <nav class="header__hidden-body">
            <ul class="header__hidden-list">
                <li><a href="#" class="header__hidden-link navlink">ОПЛАТА И ДОСТАВКА</a></li>
                <li><a href="#" class="header__hidden-link navlink">УСЛОВИЯ ВОЗВРАТА</a></li>
                <li><a href="#" class="header__hidden-link navlink">КОНТАКТЫ</a></li>
            </ul>
        </nav>
    </div>

    <div class="header__mobile-menu header__mobile-menu--main">
        <div class="header__select">
            <div>
                <select name="select-lang" id="select-lang" class="select-lang">
                    <option value="RU" selected>RU</option>
                    <option value="UA">UA</option>
                    <option value="EN">EN</option>
                </select>
            </div>
            <div>
                <select name="select-currency" id="select-currency" class="select-currency">
                    <option value="UAH" selected>UAH</option>
                    <option value="RUB">RUB</option>
                    <option value="USD">USD</option>
                </select>
            </div>
        </div>
        <div class="search">
            <input type="text" name="search" id="search" class="header__search" placeholder="Введите ваш запрос">
            <div class="header__search-btn"><img src="" alt="" class="header__search-icon"></div>
        </div>
        <nav class="header__mobile-body">
            <ul class="header__mobile-list">
                <li><a href="#" class="header__mobile-link navlink">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_100_31)">
                                <path
                                    d="M2.5 25C2.5 22.4741 3.5034 20.0517 5.28946 18.2656C7.07552 16.4796 9.49794 15.4762 12.0238 15.4762C14.5497 15.4762 16.9721 16.4796 18.7582 18.2656C20.5442 20.0517 21.5476 22.4741 21.5476 25H19.1667C19.1667 23.1056 18.4141 21.2888 17.0746 19.9492C15.735 18.6097 13.9182 17.8571 12.0238 17.8571C10.1294 17.8571 8.31259 18.6097 6.97305 19.9492C5.6335 21.2888 4.88095 23.1056 4.88095 25H2.5ZM12.0238 14.2857C8.07738 14.2857 4.88095 11.0893 4.88095 7.14286C4.88095 3.19643 8.07738 0 12.0238 0C15.9702 0 19.1667 3.19643 19.1667 7.14286C19.1667 11.0893 15.9702 14.2857 12.0238 14.2857ZM12.0238 11.9048C14.6548 11.9048 16.7857 9.77381 16.7857 7.14286C16.7857 4.5119 14.6548 2.38095 12.0238 2.38095C9.39286 2.38095 7.2619 4.5119 7.2619 7.14286C7.2619 9.77381 9.39286 11.9048 12.0238 11.9048Z"
                                    fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_100_31">
                                    <rect width="25" height="25" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        Личный кабинет</a></li>
                <li><a href="#" class="header__mobile-link navlink">NEW</a></li>
                <li><a href="#" class="header__mobile-link navlink">КАТАЛОГ</a></li>
                <li><a href="#" class="header__mobile-link navlink">О НАС</a></li>
                <li><a href="#" class="header__mobile-link navlink">ОПЛАТА И ДОСТАВКА</a></li>
                <li><a href="#" class="header__mobile-link navlink">УСЛОВИЯ ВОЗВРАТА</a></li>
                <li><a href="#" class="header__mobile-link navlink">КОНТАКТЫ</a></li>
            </ul>
        </nav>
    </div>
</header>