<div class="subscribe section">
    <h2 class="subscribe__title h2">Узнайте  первым о новинках</h2>
    <form action="" method="post" id="subscribe-form" class="subscribe__form">
        <input type="text" name="subscribe-email" class="subscribe__form-inp inp" placeholder="Ваш e-mail*">
        <small class="subscribe__form-message descr">Error message</small>
        <button class="subscribe__form-btn btn">ПОДПИСАТЬСЯ</button>
    </form>
    <div class="subscribe__descr">Нажимая на кнопку «Подписаться», я соглашаюсь на обработку моих персональных данных и ознакомлен(а) с условиями конфиденциальности.
    </div>
</div>